* {
  font: 22px/23px "Raleway", sans-serif;
}

.about {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.about-title {
  font-size: 38px;
  color: white;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
}

.about-section {
  text-align: left;
  width: fit-content;
  padding: 1em;
  border: 2px white solid;
  border-radius: 20px;
}

.about-section > a {
  color: white;
  font-weight: 400;
  padding: 0.25vw;
  display: block;
}
.about-section > a > i {
  padding-right: 0.5em;
  padding-bottom: 0.5em;
}

.about-section > a {
  color: white;
  font-weight: 400;
  padding: 0.25vw;
  display: block;
  text-decoration: inherit;
}
